<a href="https://colab.research.google.com/github/Karthikeyan9602/Basic-Python-for-Machine-Learning/blob/main/Basic_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to `Python`
First program : Display Hello

In [ ]:
print("Hello")

Hello

In [ ]:
a=30
print(a)

30

Program to assign an integer and display it

In [ ]:
a=30
print("Value of the variable is",a)

Value of the variable is 30

Program to find sum of two numbers

In [ ]:
a=10
b=30
print("Sum =",a+b)

Sum = 40

In [ ]:
a=int(input("Enter the First number:"))
b=int(input("Enter the Second number:"))
print("Sum =",a+b)

Enter the First number:20
Enter the Second number:30
Sum = 50

Printing a String

In [1]:
print("Hello, Python!")
print('hi')

Hello, Python!
hi

Defining a variable : In Python there is no need to mention the data type

In [2]:
var1 = 10      # An integer assignment
var2 = 3.146   # A floating point
var3 = "Hello" # A string

print(var1,' ',var2,' ',var3)

10   3.146   Hello

In [3]:
pi = 3.14
print ("Value of Pi is",pi)

Value of Pi is 3.14

ASSIGNMENT

Assigning same value to multiple variables

In [4]:
var1 = var2 = var3 = 1
print(var1,' ',var2,' ',var3)

1   1   1

Assigning Different values to variable in a single expression

In [5]:
var1, var2, var3 = 1, 2.5, "john"
print(var1,' ',var2,' ',var3)

1   2.5   john

SLICING

String Operations

In [6]:
str = 'Hello World!'  # A string

print(str)          # Prints complete string
print(str[0])       # Prints first character of the string
print(str[2:5])     # Prints characters starting from 3rd to 5th element
print(str[2:])      # Prints string starting from 3rd character
print(str[:2])
print(str * 2)      # Prints string two times
print(str + "TEST") # Prints concatenated string

Hello World!
H
llo
llo World!
He
Hello World!Hello World!
Hello World!TEST

DATATYPES

Python Lists

In [11]:
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]  # A list
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  ) # A tuple. Tuples are immutable, i.e. cannot be edit later

print(list)            # Prints complete list
print(list[0])         # Prints first element of the list
print(tuple[1:3])        # Prints elements starting from 2nd till 3rd 

list[0] = 'fgg'
print(list)
#tuple[0]='error'
#print(tuple)

['abcd', 786, 2.23, 'john', 70.2]
abcd
(786, 2.23)
['fgg', 786, 2.23, 'john', 70.2]

Dictionaries

Lists are ordered sets of objects, whereas dictionaries are unordered sets. But the main difference is that items in dictionaries are accessed via keys and not via their position.

In [12]:
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
print(tel)
print(tel['jack'])
del tel['sape']
tel['irv'] = 4127
print(tel)
print(tel.keys())
print(sorted(tel.keys()))
print(sorted(tel.values()))
print('guido' in tel)
print('jack' not in tel)

{'jack': 4098, 'sape': 4139, 'guido': 4127}
4098
{'jack': 4098, 'guido': 4127, 'irv': 4127}
dict_keys(['jack', 'guido', 'irv'])
['guido', 'irv', 'jack']
[4098, 4127, 4127]
True
False

Conditioning and Looping

In [13]:
# Square of even numbers

for i in range(0,10):
    
    if i%2 == 0:
        print("Square of ",i," is :",i*i)
        
    else:
        print(i,"is an odd number")

Square of  0  is : 0
1 is an odd number
Square of  2  is : 4
3 is an odd number
Square of  4  is : 16
5 is an odd number
Square of  6  is : 36
7 is an odd number
Square of  8  is : 64
9 is an odd number

Built-in Functions

In [14]:
print("Sum of array: ",sum([1,2,3,4]))
print("Length of array: ",len([1,2,3,4]))
print("Absolute value: ",abs(-1234))
print("Round value: ",round(1.2234))

import math as mt      # importing a package
print("Log value: ",mt.log(10))

Sum of array:  10
Length of array:  4
Absolute value:  1234
Round value:  1
Log value:  2.302585092994046

Function

In [15]:
def area(length,width):
    return length*width
are = area(10,20)
print("Area of rectangle:",are)

Area of rectangle: 200

#Broadcasting
Subject to certain constraints, the smaller array is “broadcast” across the larger array so that they have compatible shapes